@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2"),
    url("/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Black.woff2") format("woff2"),
    url("/fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-display: fallback;
}
@font-face {
  font-family: "Playfair Display";
  src: url("/fonts/PlayfairDisplay-Black.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-display: fallback;
}
