html,
body {
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
}
body {
  padding-bottom: 15px;
  transition: background-color 0.5s ease;
}
body *:not(path, svg) {
  color: var(--content-color);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 42px;
}
input,
textarea {
  background-color: var(--input-bg-color);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;

  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
