:root {
  --primary-color: #5ccaae;
  --heart-color: #ff1493;
  --sk-color: var(--primary-color);
  --font-primary: Gilroy, sans-serif;
  --font-secondary: "Playfair Display";
  --content-color: black;
  --layout-width: 768px;
}
